@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: "Open Sans", sans-serif;
}
.container {
    margin: 0 auto;
    background-color: bisque;
    width: fit-content;
    padding: 20px;

}

label {
    display: block;
    margin: 5px;
}
.title
{
    text-align: center;
}
input{
    width: 250px;
    padding: 5px 25px;
    border-radius: 5px;
}
#form-group{
padding: 10px;
}
#radio{
justify-content: left;
}
#check{
justify-content: left;
}