@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/*background-image: url("img_tree.gif")
background-size:     cover;                     
background-repeat:   no-repeat;
background-position: center center;
*/
body{
    font-family: "Open Sans", sans-serif;
    background-image: linear-gradient(
        115deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)
      ),url("https://staticg.sportskeeda.com/editor/2024/04/a4c8c-17129206751664-1920.jpg");
    background-size: cover;                   
background-repeat:   no-repeat;
background-position: center center;
}
#background{

    width: 100%;
}
    
.container {
    margin: 0 auto;
    width: 500px;
    padding: 20px;
    background-color: rgba(27, 27, 50, 0.8);
    color:white;
}


label {
    display: block;
    margin: 5px;
}
.title
{
    text-align: center;
}

#form-group{
padding: 10px;
}


.form-control{
    width: 250px;
    padding: 5px 25px;
    border-radius: 5px; 
    width: 100%;
    height: 45px;
    
}
#comments{
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
}
#submit{
    display: block;
    border-radius: 2px;
    padding: 0.75rem;
    cursor: pointer;
    width: 100%;
    margin-top: 50px;
}
#check{
    width: 15px;
    height: 15px;
}
#radio{
    width: 15px;
    height: 15px;
}