
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(https://wallpapercave.com/wp/wp4177382.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Roboto Mono", monospace;
}
.container{
    display: flex;
    background-color:  rgba(255, 255, 255, 0.5);
    width: 300px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    line-height: 28px;
    margin: 25px;
    padding: 140px 10px;
    border-radius: 10px;
}

.photo-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 500%;
    margin-bottom: 25px;
}

.icon-contact{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 500%;
}

main{
    color: black;
    margin-left: 500px;
    width: auto;
}

section {
    width: 100%;
    min-height: 100vh;
    padding: 50px;
    background-color:rgba(255, 255, 255, 0.5);
    margin-bottom: 50px;
    border-radius: 20px;
}
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}
.menu-design{
    background-color: rgb(32, 13, 70);
    margin: 5px;
    border-radius: 100px;
    color: rgb(255, 255, 255)
}

.menu-design:hover{
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 100px;
    border: 1px;
    border-style: solid;
    border-color: black;
    color: rgb(0, 0, 0);
    scale: 1.2;
}




.layout {
    width: 1366px;
    height: 768px;
  
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
  .image-projects{
    width: 500px;
    height: auto;
    padding: 20px;
    background-color:white ;
    border-radius: 20px;
    
  }
  #portfolio{
    text-align:center;
    font-size: large;
    
  }
  
  .homedesign{
    background-color: aliceblue;
    width: fit-content;
    padding: 100px;
    border-radius:15px ;
    margin: 25vh auto;
    text-align: center;
  }

  .text-title{
    background-color:white ;
    border-radius: 100px;
    padding: 20px;
  }